.login {
    margin-top: 30%;
    background-color: #da805d;

    .content{
        background-color: #da805d;
    }

    .input{
        background-color: #da805d;
        margin-top: 5%;
    }

    .button-login {
        background-color: #ffb395;
        margin-top: 5%;
    }

    .convidat{
        margin-top: 20px;
        text-align: center;
        text-decoration: underline;
    }
    
}